services:
  api:
    image: merrakisolutions/merraki-backend:latest
    command: ["./api"]
    container_name: api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    image: merrakisolutions/merraki-backend:latest
    container_name: worker
    restart: always
    command: ["./worker"]
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  migrate:
    image: merrakisolutions/merraki-backend:latest
    command: ["./migrate", "up"]
    env_file:
      - .env
    depends_on:
      - postgres
    restart: "no"

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data: